Repository web-hand/web-hand, pull requests merged in 2022-08, with the labels that each got.

#21 feat(object-observable): create object observable implementation
  .eslintrc.json
  .github/workflows/check-pr.yml
  .mocharc.json
  package-lock.json
  package.json
  src/observable/ObjectObservable.ts
  src/observable/ObjectObservable.type.ts
  src/utils/isDefined.ts
  test/mochaSetup.ts
  test/unit/example.spec.ts
  test/unit/observable/ObjectObservable.spec.ts
  test/unit/utils/isDefined.spec.ts
  tsconfig.json
Labels: feature

#22 feat(project): add configuration and observable helper
  .eslintignore
  .eslintrc.json
  .gitattributes
  .github/workflows/check-pr.yml
  .gitignore
  .mocharc.json
  .nyrc.json
  .prettierignore
  .prettierrc.json
  .swcrc
  README.md
  demo/demo.html
  demo/demo.ts
  git-hooks/pre-commit
  git-hooks/prepare-commit-msg
  package-lock.json
  package.json
  src/index.ts
  src/observable/ObjectObservable.ts
  src/observable/ObjectObservable.type.ts
  src/utils/isDefined.ts
  test/mochaSetup.ts
  test/unit/observable/ObjectObservable.spec.ts
  test/unit/utils/isDefined.spec.ts
  tsconfig.json
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Labels: workflow, feature

#23 18 npm package workflow
  .github/workflows/publish-package.yaml
  .gitignore
  package-lock.json
  package.json
Labels: workflow
